.nav_bar {
    padding: 1.5rem;
    background-color: turquoise;
}

.welcome {
    background: url("/images/supermart.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    padding: 5rem;
    object-fit: cover;
    color: white;
}
